@use "sass:color";

$bg-main: #161C21;
$logo-color: #fff;
$bg-secondary: #252A30;
$text-grey: #8E9095;
$border-grey: #2E3238;
$element-dark: #1B2127;

//Linear gradient on login page
$lg-1: #E458FA;
$lg-2: #F1B661;

$primary: #4745CE;
$danger: #EC4747;
$success: #6FCF97;
$success-dark: #4ba670;
$warning: #F2C94C;
$gold: #F1B661;
